$white-pure: #ffffff;
$button-white: #EEEEEE;
$purple: #5D50C6;
$pink-button: #F85E9F;
$pink-text: #EF5DA8;
$orange-color: #FF5722;
$yellow-color: #FACD49;
$pure-black: #000000;
$nav-solid-bk: #222831;
$black-heading: #191825;