@font-face {
    font-family: circular-std-700;
    src: url(../../Fonts/circular-std/CircularStd-Bold.ttf);
}

@font-face {
    font-family: inter;
    src: url(../../Fonts/inter/Inter-VariableFont.ttf);
}