@mixin side-icon {
    width: 100px;
    height: 100px;
    font-size: $Font-40;
    border-radius: $radius-32;
    text-align: center;
    color: $white-pure;
    padding: $padding-32;
}

@mixin Left-side-text {
    h6 {
        color: $pink-button;
        font-size: $Font-23;
        text-align: left;
        line-height: 27.6px;
        letter-spacing: 0.2em;
        margin-bottom: $padding-32;

        @media (max-width: 991px) {
            margin: $padding-24;
            text-align: center;
        }

        @media (max-width: 767px) {
            font-size: $Font-16;
            line-height: 19.2px;            
        }
    }

    h5 {
        color: $black-heading;
        font-size: $Font-40;
        line-height: 48px;
        text-align: left;
        margin-bottom: $padding-32;

        @media (max-width: 991px) {
            margin: $padding-24;
            text-align: center;
        }

        @media (max-width: 767px) {
            font-size: $Font-32;
            line-height: 38.4px;
        }
    }

    p {
        color: #19182580;
        font-size: $Font-18;
        font-weight: 400;
        font-family: inter;
        text-align: left;
        line-height: 28.8px;

        @media (max-width: 991px) {
            margin: $padding-24;
            text-align: center;
        }

        @media (max-width: 767px) {
            font-size: $Font-16;
            line-height: 25.6px;
        }
    }
}


