/** Padding **/
$padding-2: .125rem;
$padding-4: .25rem;
$padding-6: .375;
$padding-8: .5rem;
$padding-10: .625rem;
$padding-12: .75rem;
$padding-16: 1rem;
$padding-18: 1.125rem;
$padding-24: 1.5rem;
$padding-32: 2rem;
$padding-64: 4rem;
$padding-100 : 6.25rem;
$padding-128 : 8rem;



/** Radius **/
$radius-10: .625rem;
$radius-20: 1.25rem;
$radius-24: 1.5rem;
$radius-32: 2rem;
$radius-50: 50%;
$radius-100: 6.25rem;


/** Font Size **/
$Font-h1: 4.3125rem;
$Font-55: 3.4375rem;
$Font-44: 2.75rem;
$Font-40: 2.5rem;
$Font-35: 2.1875rem;
$Font-32: 2rem;
$Font-28: 1.75rem;
$Font-24: 1.5rem;
$Font-23: 1.4375rem;
$Font-20: 1.25rem;
$Font-18: 1.125rem;
$Font-16: 1rem;
$Font-14: .875rem;
$Font-12: .75rem;